div.zTreeDemoBackground {width:400px;text-align:left;}
ul.ztree {float:left;margin-top: 10px;border: 1px solid #436888;background: #f0f6e4;width:220px;height:450px;overflow-y:scroll;overflow-x:auto;}
/* ruler */
div.ruler {height:20px; width:220px; background-color:#f0f6e4;border: 1px solid #333; margin-bottom: 5px; cursor: pointer}
div.ruler div.cursor {height:20px; width:30px; background-color:#3C6E31; color:white; text-align: right; padding-right: 5px; cursor: pointer}